<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <master auto="start"/>

    <node pkg="robot_treasure_viz" type="treasure_viz.py" respawn="false" name="robot_treasure_viz" output="screen">
        <rosparam file="$(find robot_treasure_viz)/config/parameters.yaml" command="load" />
    </node>
</launch>